{% extends 'layout.html.twig' %}
{% block title %}List FAQ | Admin Muxu{% endblock %}
{% block content %}
<h2 class="display-4">FAQ</h2>
<div class="text-right my-3">
    <a href="/faq/add" class="btn btn-sm plus-color">Add a question/answer <i class="fas fa-plus-circle"></i></a>
</div>
<table class="table table-responsive{-sm|-md|-lg|-xl} table-bg">
    <thead>
        <tr>
            <th scope="col">Questions</th>
            <th scope="col">Answers</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for faq in faq %}
        <tr>
            <td>{{ faq.question }}</td>
            <td>{{ faq.answer }}</td>
            <td>
                <a href="/faq/show/{{ faq.id }}" class="btn btn-sm my-2 eye-color"><i
                        class="fas fa-eye logo-eye"></i></a>
                <a href="/faq/edit/{{ faq.id }}" class="btn btn-sm my-2 edit-color"><i
                        class="fas fa-edit logo-edit"></i></a>
                <a href="/faq/delete/{{ faq.id }}" class="btn btn-sm btn-danger my-2"><i
                            class="fas fa-trash"></i></a>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
